 <link rel="stylesheet" href="/css/home.css">
 
 <!-- header  -->
<%- include('_header'); %>

<div>
    <!----------- if user is not logged in ----------->
    <% if(!locals.user) { %>
        <div class="welcome-title">
             Build the best version of yourself <br> by mastering your habits.
        </div>
        <form action="/users/sign-up" method="GET">
            <button class="welcome-button">Get Started</button>
        </form>
    <% }

    <!----------- if no habits are added ----------->
    else if(locals.user && locals.habits.length==0) { %>
    <%= habits %>
        <div id="noHabitText">Looks like you dont have any TODOs yet, so...
               <br> what do you want to start with? :)</div>
        <!-- button to open add Todo form  -->
        <button id="open-btn-fixed" onclick="openForm()" > + Add Todo</button>
        <div class="form-popup" id="myForm">
            <form action="/users/habit/create-habit" id="createHabit" method="POST" class="form-container">
                <input type="text" name="title" placeholder="Enter Todo title" maxlength="10" required>
                <textarea name="desc" placeholder="Describe Your Todo" maxlength="25" ></textarea>
                <!-- Note: rows attribute sets the visible number of lines in the textarea -->
                <button type="reset" id="cancel-btn" onclick="closeForm()">Cancel</button>
                <button type="submit" id="save-btn">Save</button>
            </form>
        </div>
        
        </div>
    <% }
    
            
            
    
    <!------------ show habits ------------>
    else { %>
        <div>
            <div style="text-align: center;  margin-top: 10px;">
                <button><span><i class="fas fa-check-circle" style="color: rgb(130, 189, 107)"></i> => Completed</span></button>
                <button><span><i class="fas fa-times-circle" style="color: rgb(241, 121, 109)"></i> => in-progress</span></button>
                <button><span><i class="fa-solid fa-circle"></i> => on-hold</span></button>
               
            </div>
            
            <div>
                
                <!-- weekly view -->
                <%- include('weekly_view'); %>
                
                <!-- daily view  -->
                <%- include('daily_view'); %>

            </div>

           


            <!-- button to open add habit form  -->
            <button id="open-btn" class="button-30" onclick="openForm()" > + Add Todo</button>

            <div class="form-popup" id="myForm">
                <form action="/users/habit/create-habit" id="createHabit" method="POST" class="form-container">
                    <input type="text" name="title" placeholder="Enter Todo" maxlength="10" required>
                    <input type="text" name="desc" placeholder="Describr Your Todo" maxlength="25">
                    <button type="reset" id="cancel-btn" onclick="closeForm()">Cancel</button>
                    <button type="submit" id="save-btn">Save</button>
                </form>
            </div>
            <!-- button to toggle between daily/weekly view -->
            <button id="change-view" class="button-30" onclick="changeView()" > Edit/Delete?</button>
        </div>
    <% } %>
   
</div>



<!-- importing this script to open/close form -->
<script src="/js/home.js"></script>